<!DOCTYPE html>
<title>Bass Application</title>
<link rel="stylesheet" href="url_for('static', filename='style.css')"
<nav>
    <h1> Bass app</h1>
    <ul>
        {% if g.user %}
        <li><span>{{g.user['username']}}</span>
        <li><a href="{{url_for('auth.logout')}}">Log out</a>
        {% else %}
        <li><a href="{{url_for("auth.register")}}">Register</a>
        <li><a href="{{url_for("auth.login")}}">Log in</a>
        {%endif%}
                
    </ul>
</nav>
<section class="content">
    <header>
        {% block header%}
    </header>
    { for message in get flashed message}
    <div class="flash message"></div>
</section>